<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
      integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="css/style.css" />
    <title>Boolzapp</title>
  </head>
  <body>
    <div id="app">
      <div id="container">
        <div id="contact">
          <!-- sezione  Utente -->
          <div class="contact-header">
            <div class="logo-header">
              <div class="logo-header-img">
                <img src="img/batman.jpg" alt="" />
              </div>
              <div class="logo-header-text"><strong>Batman</strong></div>
            </div>
            <div>
              <ul>
                <li>
                  <a href="#"></a><i class="fa-solid fa-circle-notch"></i>
                </li>
                <li><a href="#"></a><i class="fa-solid fa-message"></i></li>
                <li>
                  <a href="#"></a><i class="fa-solid fa-ellipsis-vertical"></i>
                </li>
              </ul>
            </div>
          </div>

          <!-- Sezione notifiche  -->
          <div class="contact-notification">
            <div
              v-show="notifiche==false"
              @click="notifiche=true"
              class="notification-bell"
            >
              <i class="fa-solid fa-bell"></i>
            </div>
            <div
              v-show="notifiche==true"
              @click="notifiche=false"
              class="notification-bell"
            >
              <i class="fa-solid fa-bell-slash"></i>
            </div>
            <div>
              <p>Ricevi Notifiche di nuovi messaggi</p>
              <a href="#" v-show="notifiche==true">Attiva notifiche desktop</a>
              <a href="#" v-show="notifiche==false"
                >Disattiva notifiche desktop</a
              >
            </div>
          </div>

          <!-- section filter chat -->
          <div class="contact-input">
            <button @click="FilterShow=[]">
              <i class="fa-solid fa-magnifying-glass"></i>
            </button>
            <input
              type="text"
              placeholder="cerca una chat"
              @keypress.enter="IncludsFilter ()"
              v-model="FilterSelect"
            />
          </div>

          <!--  section chat group -->
          <div class="contact-scroll">
            <div
              v-for="(contact,i) in contacts"
              class="contact-group"
              v-show="!FilterShow.includes(contact.name)"
              @click="index=i"
            >
              <div class="contact-group-user">
                <div class="contact-group-user-img">
                  <img :src="contact.avatar" :alt="contact.name" />
                </div>
                <div class="contact-group-user-text">
                  <strong>{{contact.name}}</strong>
                  <p class="contact-group-text">
                    {{contact.messages[contact.messages.length-1].message}}
                  </p>
                </div>
                Data
              </div>
            </div>
          </div>
        </div>
        <div id="chat">
          <div class="chat-header">
            <div class="chat-logo-box">
              <img
                class="chat-header-img"
                :src="contacts[index].avatar"
                :alt="contacts[index].name"
              />
            </div>
            <div class="chat-header-text">
              <strong>{{contacts[index].name}}</strong>
              <p>
                {{contacts[index].messages[contacts[index].messages.length-1].message}}
              </p>
            </div>
            <div>
              <ul>
                <li><i class="fa-solid fa-magnifying-glass"></i></li>
                <li><i class="fa-solid fa-paperclip"></i></li>
                <li><i class="fa-solid fa-ellipsis-vertical"></i></li>
              </ul>
            </div>
          </div>

          <div class="contact-scroll chat-table">
            <div
              v-for="(messag,num) in contacts[index].messages "
              :class="messag.status === 'received' ? 'left':'right'"
            >
              <div @click="numIndex = num">{{messag.message}}</div>
              <div class="dropdown"  
              @click="isActive = !isActive" v-show="numIndex == num" ><i class="fa-solid fa-chevron-down"></i>
              <div id="myDropdown" class="dropdown-content"
              :class="[ isActive === true? 'show':'' ,messag.status === 'received' ? 'float-left':'float-right'] "
             >
                  <a href="#">info</a>
                  <a href="#" @click="RemoveItem()">delete</a>
                </div>
              </div>
            </div>
          </div>
          <div class="chat-message">
            <button><i class="fa-regular fa-face-smile"></i></button>
            <input
              type="text"
              v-model="newmessage"
              @keypress.enter="AddMessage()"
            />
            <button><i class="fa-solid fa-microphone"></i></button>
          </div>
        </div>
      </div>
    </div>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script type="text/javascript" src="js/main.js"></script>
  </body>
</html>
