<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
      integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="css/style.css" />
    <title>Boolzapp</title>
  </head>
  <body>
    <div id="app">
      <div id="container">
        <div id="contact">
          <div class="contact-logo">
            <div class="user-logo">
              <div class="logo"><img src="img/batman.jpg" alt="" /></div>
              <strong>Batman</strong>
            </div>
            <div>
              <ul>
                <li>
                  <a href="#"></a><i class="fa-solid fa-circle-notch"></i>
                </li>
                <li><a href="#"></a><i class="fa-solid fa-message"></i></li>
                <li>
                  <a href="#"></a><i class="fa-solid fa-ellipsis-vertical"></i>
                </li>
              </ul>
            </div>
          </div>
          <div class="contact-logo advisor">
            <div
              v-show="notifiche==false"
              @click="notifiche=true"
              class="advisor-logo"
            >
              <i class="fa-solid fa-bell"></i>
            </div>
            <div
              v-show="notifiche==true"
              @click="notifiche=false"
              class="advisor-logo"
            >
              <i class="fa-solid fa-bell-slash"></i>
            </div>
            <div>
              <p>Ricevi Notifiche di nuovi messaggi</p>
              <a href="#">Attica notifiche desktop</a>
            </div>
          </div>
          <div class="contact-input">
            <button @click="FilterShow=[]">
              <i class="fa-solid fa-magnifying-glass"></i>
            </button>
            <input
              type="text"
              placeholder="cerca una chat"
              @keypress.enter="IncludsFilter ()"
              v-model="FilterSelect"
            />
          </div>
          <div class="contact-scroll">
            <div
              v-for="(contact,i) in contacts"
              class="contact-logo"
              v-show="!FilterShow.includes(contact.name)"
              @click="index=i"
            >
              <div class="img-name">
                <div class="logo">
                  <img :src="contact.avatar" :alt="contact.name" />
                </div>
                <div>
                  <strong>{{contact.name}}</strong>
                  <p>ultimo messaggio</p>
                </div>
              </div>
              data
            </div>
          </div>
        </div>
        <div id="chat">
                <div> 
                    <div  class="contact-logo" >
                        <div class="img-name">
                             <div class="logo">
                                 <img :src="contacts[index].avatar" :alt="contacts[index].name" />
                            </div>
                        <div class="contact-scroll">
                             <strong>{{contacts[0].name}}</strong>
                             <p>ultimo messaggio</p>
                        </div>
                    </div>
                    <div>
                        <ul>
                            <li><i class="fa-solid fa-magnifying-glass"></i></li>
                            <li><i class="fa-solid fa-paperclip"></i></li>
                            <li><i class="fa-solid fa-ellipsis-vertical"></i></li>
                        </ul>
                    </div>
          
                </div>
                <div>
                    <div v-for="messag in contacts[index].messages " :class="(messag.status === 'received') ? 'left':'right'">
                        {{messag.message}}     <i class="fa-solid fa-chevron-down"></i>
                        
                    </div>
                </div>
                <div>
                    <button> <i class="fa-regular fa-face-smile"></i></button>
                    <input type="text" v-model="newmessage" @keypress.enter="AddMessage()">
                    <button><i class="fa-solid fa-microphone"></i></button>
                </div>


        </div>
      </div>

      </div>

    </div>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script type="text/javascript" src="js/main.js"></script>
  </body>
</html>
